@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* for better display on screens with notches*/
html {
  min-height: calc(100% + env(safe-area-inset-top));
}

.fmenu {
  padding: env(safe-area-inset-top) 0 0 env(safe-area-inset-left);
}

.navbartop {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: calc(5rem + env(safe-area-inset-top));
}


body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-size: 100%;
  position: sticky;
}


.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

main {
  flex-grow: 1;
}